@import url('https://fonts.googleapis.com/css?family=Orbitron');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-size : cover;
    background-position: center;
    background-repeat: no-repeat;
}
#container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color:greenyellow;
    flex-wrap: wrap;
}
.card {
    position: relative;
    display:flex;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-radius: 10px;
    width:30vw;
    height:30vh;
    margin: 1em;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.card .hidden {
    display:none;
}
.input {
    background: transparent;
    width: 20em;
    padding: 1em;
    margin-bottom: 2em;
    border: none;  
    border-radius: 100px;
    backdrop-filter: blur(15px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    text-align: center;
}
ul {
    list-style:none;
}
.left{
    position:relative;
    display:flex;
    margin-right: 10vw;
}
.right{
    position:relative;
    display:flex;
}
button {
    background: transparent;
    width: 30px;
    padding: 1em;
    border: none;  
    border-radius:15px;
    color: #fff;
}
button:hover{
    transition: all 0.2s ease-in-out;
}
#clock {
    font-family: 'Orbitron', sans-serif;
    color: greenyellow;
    font-size:4vw;
    text-align: center;
  }

#login {
    position: relative;
    display:flex;
    align-items:center;
    justify-content: center;
}
#login-form{
    margin-left :10vw;
    margin-top: 3vh;
    align-items:center;
    justify-content: center;
}